CONFIG_IDF_TARGET="esp32c61"
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
# 70 -> 257(max)
CONFIG_BT_NIMBLE_HCI_EVT_BUF_SIZE=257
CONFIG_BT_NIMBLE_EXT_ADV=y

# use jtag for transport layer
CONFIG_TRANSPORT_LAYER_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y