# Test on ESP32-C61-DevKitC-1-N8R2

CONFIG_IDF_TARGET="esp32c61"
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

# 70 -> 257(max)
CONFIG_BT_NIMBLE_HCI_EVT_BUF_SIZE=257
CONFIG_BT_NIMBLE_EXT_ADV=y

# use jtag for transport layer
CONFIG_TRANSPORT_LAYER_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# C61 single-core: use 20ms interval to avoid mbuf allocation failures
CONFIG_HID_REPORT_INTERVAL=20

# FLASH
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_n2c.csv"

# Memory
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=150
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_SIZE=128
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_COUNT=30
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_SIZE=512

